$font-size: 20px;
$button-background-color: #3a3a3a;
$button-font-color: #fff;
$text-font-color: #1573ff;

.hello-world-button {
  font-size: $font-size;
  padding: 7px 15px;
  background: $button-background-color;
  color: $button-font-color;
  outline: none;
}

.hello-world-text {
  color: $text-font-color;
  font-weight: bold;
}
